# Node/NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Electron specific
dist/
dist-zip/
out/
release/
*.exe
*.dmg
*.pkg
*.app
Photo\ Editor\ Pro-win32-x64/

# OS/Editor specific
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
